Repository destifo/slacker: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, eslint, tsc

.pre-commit-config.yaml:

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        exclude: ^frontend/tsconfig.*\.json$
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=1000"]

  # Rust formatting and linting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --manifest-path app/Cargo.toml --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --manifest-path app/Cargo.toml --all-targets -- -D warnings -A unused -A clippy::module_inception -A clippy::enum_variant_names -A clippy::redundant_closure -A clippy::needless_update -A clippy::clone_on_copy
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-check
        name: cargo check
        entry: cargo check --manifest-path app/Cargo.toml
        language: system
        types: [rust]
        pass_filenames: false

  # Frontend (TypeScript/React) linting
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: tsc
        name: typescript check
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

chore: setup semver
  .github/workflows/docker-build.yml
  .github/workflows/release-please.yml
  .release-please-manifest.json
  CHANGELOG.md
  release-please-config.json
Due: none

chore: setup helm chart
  .pre-commit-config.yaml
  helm/.helmignore
  helm/Chart.yaml
  helm/templates/NOTES.txt
  helm/templates/_helpers.tpl
  helm/templates/configmap.yaml
  helm/templates/deployment.yaml
  helm/templates/hpa.yaml
  helm/templates/ingress.yaml
  helm/templates/secret-workspaces.yaml
  helm/templates/secret.yaml
  helm/templates/service.yaml
  helm/templates/serviceaccount.yaml
  helm/values.yaml
Due: none

chore: fix docker build
  Dockerfile
Due: none

chore: fix docker build
  frontend/src/hooks/useAuth.tsx
Due: eslint, tsc

chore: fix docker build
  Cargo.toml
  migration/Cargo.toml
Due: none

chore: fix docker build
  Dockerfile
  migration/Cargo.toml
Due: none

chore: add health check endpoints and license
  LICENSE
  app/src/routes/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check

refactor: make frontend url config var for redirect
  Dockerfile
  app/src/config/config.rs
  app/src/handlers/auth.rs
  docker-compose.yml
  helm/templates/configmap.yaml
  helm/templates/deployment.yaml
  helm/values.yaml
Due: cargo-fmt, cargo-clippy, cargo-check

feat: add separation between my tasks and initiated and other small fixes and changes
  app/src/config/config.rs
  app/src/handlers/admins.rs
  app/src/handlers/mod.rs
  app/src/handlers/tasks.rs
  app/src/handlers/workspaces.rs
  app/src/models/mod.rs
  app/src/models/task.rs
  app/src/models/workspace_admin.rs
  app/src/repos/mod.rs
  app/src/repos/tasks.rs
  app/src/repos/workspace_admins.rs
  app/src/routes/admins.rs
  app/src/routes/mod.rs
  app/src/sockets/slack_bot.rs
  frontend/index.html
  frontend/public/favicon.svg
  frontend/src/components/NoAccessPage.tsx
  frontend/src/components/TaskBoard.tsx
  helm/templates/configmap.yaml
  helm/templates/deployment.yaml
  helm/templates/pvc.yaml
  migration/src/lib.rs
  migration/src/m20260109_000000_add_assigned_by.rs
  migration/src/m20260109_010000_workspace_admins.rs
Due: cargo-fmt, cargo-clippy, cargo-check, eslint, tsc

Fix task board initiated vs my tasks filters
  app/src/handlers/tasks.rs
Due: cargo-fmt, cargo-clippy, cargo-check

chore(helm): add admin email helm field
  helm/values.yaml
  migration/src/m20260109_000000_add_assigned_by.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Fix task board filtering and reaction event ownership
  app/src/handlers/tasks.rs
  app/src/repos/tasks.rs
  app/src/sockets/slack_bot.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix(backend): task board classification
  Cargo.lock
  app/Cargo.toml
  app/src/core/state.rs
  app/src/database/connect.rs
  app/src/main.rs
  app/src/sockets/slack_bot.rs
  frontend/src/components/TaskBoard.tsx
Due: cargo-fmt, cargo-clippy, cargo-check, eslint, tsc
